:root {
  --main: #0fa;
  --second: #ff0055;
}

@font-face { 
  font-family: 'CustomFont';
  src: url('font/custom.woff') format('woff');
}

body{
  background-color: black;
  background-image: url(brick.jpg);
  /* background-size: contain; */
  background-size: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
}

.text{
  position: fixed;
  font-family: CustomFont;
  font-size: 16vw;
  color: #fff;
  width: max-content;
  
  top: 50%;
  left: 50%;
  transform: translate(-55%, -50%);
  /* border: 1px solid orange; */
  opacity: 1;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
}

.tag{
  position: fixed;
  width: min-content;
}

.tag_img{
  width: 100px;
  transform: rotate(350deg);
  opacity: 60%;
  /* filter: invert(10%); */
}

.stickman{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);

  /* background: yellow; */
  /* border: 1px solid black; */
  background-image: url(stickman_2.gif);
  background-size: contain;
  
  filter:
  drop-shadow(0px 0px 3px #000)
  drop-shadow(0px 0px 3px #000)
  drop-shadow(0px 0px 10px var(--second))
  drop-shadow(0px 0px 20px var(--second)) invert(1);
}

@media screen and (max-width: 600px) {
  body{
    background-size: 178vh 100vh;
    background-position-x:30%;
    
  }

  .text{
    text-shadow:
    0 0 2px #fff,
    0 0 3px #fff,
    0 0 6px #fff,
    0 0 12px var(--main),
    0 0 24px var(--main),
    0 0 27px var(--main),
    0 0 31px var(--main),
    0 0 40px var(--main);
  }

  .tag{
    position: fixed;
    top: 5vh;
    right: 0;
    bottom: none;
    width: min-content;
  }

  .stickman{
    width: 90vw;
    height: 90vw;
  }
}

@media screen and (min-width:601px){
  .stickman{
    width: 40vw;
    height: 40vw;
  }

  .text{
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px var(--main),
    0 0 82px var(--main),
    0 0 92px var(--main),
    0 0 102px var(--main),
    0 0 151px var(--main);
  }
  
  .tag{
    bottom: 4vh;
    right: 8vh;
  }
}