@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

body{
  background: grey; 
}

#cont{
  opacity: 0;

  width: 80vw;
  height: fit-content;

  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-60%, -60%);
  transform: translate(-60%, -60%);

  animation: fadeInAnimation ease 10s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

img{
  width: 60%;
  height: auto;
  filter: drop-shadow(0.2vw 0.2vw 0.8vw white);
}

#background{
  z-index: 9999; 
    width: 120%; 
    height: 120%; 
    position: fixed; 
    top: 0; 
    left: 0; 
}

h1{
  color: black;
  text-shadow: 1px 1px 2px white;
  margin-top: 5px;
  text-align: center;
  font-size: 10vw;
  font-family: 'Raleway', sans-serif;
}

