html, body{
  overflow-x: hidden;
  overflow-y: hidden;
  
}

body{
  background: black;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

#d{
  display: block;
  position: absolute;
  /* font-size: 20rem; */
  color: pink;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  font-family: monospace;

  background-color: black; 
  color: whitesmoke; 
  font-size: 2.5vw;
}

#d:active {
  color: red;
}